<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../layout/head.ejs") %>
    <title>Dashboard</title>
</head>
<body>
    <%- include("../../layout/header.ejs") %>
    <%- include("../../layout/navbar.ejs") %>
    <%- include("./partials/cardV1.ejs") %>
</body>
</html>