@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');

/* BASE */
*{
    padding: 0;
    margin: 0;
}

:root{
    /* Default Colors */
    --main-color: #27e394;
    --secondary-color: #20c155;
    --white-color: #fff;
    --dim-gray: #f9f9f9;
    --dark-gray: #1c1c1c;
    --dark-black: #121212;

    /* Other Colors  */
    --pinkish-red: #ff004c;
    --blue: #0800ff;
    --orange: #ff9100;
    --light-blue: #006eff;
    --purple: #5d00ff;
    --lilac: #b488ff;


    /* Font */
    --text-font: 'Poppins', sans-serif;

    /* Font sizes  */
    --font-thin: 100;
    --font-light: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
}

body{
    background-color: var(--light-blue);
    padding: 0;
    margin: 0;
}

header{
    margin-bottom: 5vh;
    background-color: var(--white-color);
}

h1,h2,h3,h4,h5{
    font-family: var(--text-font);
    text-decoration: none;
}

p,a,label{
    font-family: var(--font-light);
}

/*=============== NAV ===============*/
.container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .section {
    padding: 2rem 0;
  }

.footer-container{
    background-color: var(--white-color);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5vh;
}

.datatable{
    width: 100%;
    display: flex;
    text-align: center;
    margin: 0px auto;
}

.card{
    padding-top: 15px;
    margin: 0px auto;
    width: 60%;
    background-color: var(--white-color);
}

.field {
    outline: none;
    font-family: var(--text-font);
    width: 80%;
    border: none;
    height: 50px;
    margin: 5px;
    position: relative;
    padding: 0px 16px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    color: var(--purple);
    box-shadow: 0px 4px 20px 0px transparent;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
    -webkit-appearance: none;
}

.field:hover {
    border: none;
    background-color: rgba(154, 103, 255, 0.079);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}